* {
    font-family: 'Raleway', sans-serif;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0 auto;
    height: 100vh;
    background-color: hsl(229, 57%, 11%);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.attribution {
    font-size: 11px; text-align: center;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.guide {
    color: /*gradient*/ hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    color: hsl(243, 100%, 93%);
    color: hsl(229, 7%, 55%);
    color: hsl(228, 56%, 26%);
    color: hsl(229, 57%, 11%);
    font-size: 14px; /*body copy*/;
    font-family: 'Raleway', sans-serif; /* 400 y 700*/
    /* Referencia de burbuja 
    https://codepen.io/run-time/pen/VNRBJd?editors=1100
    */
}